fastmcp
fastapi
uvicorn[standard]
httpx
python-dotenv
python-multipart
pillow
groq
google-genai
duckduckgo-search
openai
chromadb
PyPDF2
python-docx
fpdf2
langgraph
mcp
google-api-python-client
google-auth
